* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.video{
    display: flex;
    justify-content: center;
    align-items: center ;
}
html, body {
    min-height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}

.paragrafo__texto__legenda {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.barra-footer {
    background-color: #1d3d7d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px 5px;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
}

.redes-sociais {
    display: flex;
    align-items: center ;
    flex-direction: row !important;
    justify-content: center;
    
}


.rede-sociais span {
    font-size: 14px;

}

nav ul {
    gap: 20px;
    display: flex;
}

ul {
    list-style: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 100px;
    height: 50px
}

.logo-footer {
    height: 40px;
    ;
}

.barra-footer img {
    height: 50px;
}

.main_image {
    width: 100vw;
}

.copy {
    margin-bottom: 10px;
    font-size: 18px;
}


footer{
    height: 100%;
}




